@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #D6D7DA;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-number {
  font-family: system-ui, -apple-system, Roboto, sans-serif;
  font-size: 3rem;
  font-weight: 200;
}
